/* =================================
 * Responsive styles layout
 * ================================= */
@media screen and (max-width: 850px) {
    .header_content {
        font-size: 1.5em;
    }
    .main_content {
        width: 100%;
        border-bottom: 1px solid #7d97ad;
        padding-bottom: 3px;
    }
    .main_project_img {
        width: 90%;
        /* max-height: 300px; */
    }
    .main_work {
        width: 100%;
    }
}

/* Change footer layout */
@media screen and (max-width: 718px) {
    .footer_inner {
        flex-wrap: wrap;
    }
    .footer_copy {
        margin: 0 auto;
        order: 1;
        padding-top: 0;
    }
    .footer_social {
        padding-bottom: 0;
    }
    .footer_contact {
        margin: auto;
    }
}

@media screen and (max-width: 650px) {
    .header_content {
        font-size: 1em;
    }
}

@media screen and (max-width: 450px) {
    .header_content {
        width: 100%;
        padding-left: 2.4em;
    }
    .header_logo {
        display: none;
    }
    .nav {
        z-index: 10;
        width: 100%;
        position: absolute;
        -webkit-transform: translate(-500px, 0);
        transform: translate(-500px, 0);
        transition: translate 0.3s ease;
    }
    .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        position: inherit;
    }
    .nav_list {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .nav_item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
    }
    .nav_menu {
        position: absolute;
        display: inline-block;
        width: 10%;
        min-width: 30px;
    }
    .work_item {
        width: 100%;
        margin: 0 auto; /* Side margin to centre content */
    }
    .work_image {
        width: 50%;
    }
    .work_link {
        font-size: 130%;
    }
}
